<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About PAge</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body style="text-align: center;" >
    <nav id="navi" style="margin-left: 1%; margin-right: 1%;">
        <a href="/">Home</a> &nbsp; &nbsp;
        <a href="/users">Users</a> &nbsp; &nbsp;
        <a href="/resources">Resources</a> &nbsp; &nbsp;
        <a href="">Downloads</a> &nbsp; &nbsp;
        <a href="">Buy Me Coffee</a> &nbsp; &nbsp;
        <a href="/calculate">Calculator</a> &nbsp; &nbsp;
        <a href="/about">About Us</a> &nbsp; &nbsp;
  
      </nav>

   <div style="margin-left: 10%; margin-right: 10%; font-size: 25px;">
    <h1>About us</h1>
   
    <p>We are currently the best devops in the world and we would like to do more tahan tahat</p>

   </div>
</body>
</html>