<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perform simple calculations here</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body style="text-align: center;">
    <nav id="navi">
        <a href="/">Home</a> &nbsp; &nbsp;
        <a href="/users">Users</a> &nbsp; &nbsp;
        <a href="/resources">Resources</a> &nbsp; &nbsp;
        <a href="">Downloads</a> &nbsp; &nbsp;
        <a href="">Buy Me Coffee</a> &nbsp; &nbsp;
        <a href="/calculate">Calculator</a> &nbsp; &nbsp;
        <a href="/about">About Us</a> &nbsp; &nbsp;
  
      </nav>
    <h1>Perform Simple calculations</h1>
      <br>
      <br>

      <form action="/calResult" method="post">
        <label for="num1">Enter First Number</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="num1" id="num1"> <br> <br>

        <label for="num2">Enter Second Number</label>&nbsp;&nbsp;&nbsp;
        <input type="text" name="num2" id="num2"> <br> <br> <br>

        <label for="">Add</label>
        <input type="radio" value="rd1" name="group"> &nbsp; &nbsp;
        <label for="">Product</label>
        <input type="radio" value="rd2" name="group"> <br> <br>

        &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" id="sub"> &nbsp;  &nbsp;Submit Me

    </form>

</body>
</html>