<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Webpage by Gideon</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav id="navi" class="bg">
      
      <a href="/">Home</a> &nbsp; &nbsp;
      <a href="/users">Users</a> &nbsp; &nbsp;
      <a href="/resources">Resources</a> &nbsp; &nbsp;
      <a href="">Downloads</a> &nbsp; &nbsp;
      <a href="">Buy Me Coffee</a> &nbsp; &nbsp;
      <a href="/calculate">Calculator</a> &nbsp; &nbsp;
      <a href="/about">About Us</a> &nbsp; &nbsp;

    </nav>
   <div id="main">
    <h1 id="header">Learn Web Dev</h1>
    <ul>
      <p>The following are things you need to know before you can be a backend developer</p>
      <li>Node.js</li>
      <li>Express</li>
      <li>SQL</li>
      <li>APIs</li>
      <li>you need to learn all these</li>
    </ul>
    <br>
    <br>
    <p class="hid">Roll roll roll your boat
       gently down the street merily merily merily life is but a dream</p>
   </div>

   <div id="sec"> 
    <p>For all have sinned and fall short of the Glory of God, Amen</p>
   </div>
  </body>
  <script src="/javascripts/dynamics.js"></script>
</html>
