<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>interactivity</title>
    <link rel="stylesheet" href="/stylesheets/style2.css">
</head>
<body>
    <nav id="navi" class="bg">
      
        <a href="/">Home</a> &nbsp; &nbsp;
      <a href="/users">Users</a> &nbsp; &nbsp;
      <a href="/resources">Resources</a> &nbsp; &nbsp;
      <a href="">Downloads</a> &nbsp; &nbsp;
      <a href="">Buy Me Coffee</a> &nbsp; &nbsp;
      <a href="/calculate">Calculator</a> &nbsp; &nbsp;
      <a href="/about">About Us</a> &nbsp; &nbsp;

      </nav>
    <div class="container">
        <div class ="box">
            <div class="content">
                <h2>Explore the difference </h2>
                <p>We give you glory Lord and as we honour you</p>
                <span class="hid">We all have the best option to choose from irrespective of the nature of work</span>
            </div>
        </div>
        
        <div class="box">
            <div class="content">
                <h2>Being Real Sarcasm </h2>
                <p>We give you glory Lord and as we honour you</p>
                <span class="hid">We all have the best option to choose from irrespective of the nature of work</span>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <h2>Feel the Breeze </h2>
                <p>We give you glory Lord and as we honour you</p>
                <span class="hid">We all have the best option to choose from irrespective of the nature of work</span>
            </div>
        </div>
    </div>
</body>
</html>