<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn HTML basics</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body style="text-align: center;">
   <div id="menu">
    <nav id="navi">
        <a href="/">Home</a> &nbsp; &nbsp;
        <a href="/users">Users</a> &nbsp; &nbsp;
        <a href="/resources">Resources</a> &nbsp; &nbsp;
        <a href="">Downloads</a> &nbsp; &nbsp;
        <a href="">Buy Me Coffee</a> &nbsp; &nbsp;
        <a href="/calculate">Calculator</a> &nbsp; &nbsp;
        <a href="/about">About Us</a> &nbsp; &nbsp;
  
      </nav>
   </div id="content">
      <br> <br> <br>
   <div>
    <p style="font-size: 20px; text-align: justify;" >Now let’s get into the structure of an actual HTML document and real tags that are used.
        The first line in your file is this one:</p>

        <p style="font-size: 20px; text-align: justify;">
            &lt;!DOCTYPE html&gt;
            <br> <br>
            As the name implies, this is called the Document Type Declaration. It lets the browser
know what type of HTML you are using. As written above, this tells the browser we are
using the most recent version of HTML which is HTML 5. <br> 

Now we need to tell the browser where our HTML actually is. That might seem strange
since we just let it know that the document was an HTML5 document. However you have
to specify what every block of text is.
<br>
We also need the closing tag, so our file should look like this: <br> <br>
&lt;!DOCTYPE html&gt; <br> <br>
&lt;html&gt; <br><br>

&lt;/html&gt;
<br><br>
Hence anything that falls between &lt;html&gt; and &lt;/html&gt; is interpreted by the browser as
being html. Unfortunately we aren’t done. We need a second tag called the body tag that
indicates where the content of the web page is placed. So we update our file as follows: <br> <br>
<br>
&lt;!DOCTYPE html&gt; <br>
&lt;html&gt;<br><br>
&lt;body&gt;<br><br>
&lt;/body&gt;<br><br>
&lt;/html&gt;<br><br>

Now we can put the actual content of our web page in between
and. To put text, you simply type it as if you were using a web processor. Following the
usual practice in teaching computer topics, we’ll add “Hello World” to our web page.
<br><br>
&lt;!DOCTYPE html&gt; <br>
&lt;html&gt;<br><br>
&lt;body&gt;<br><br>
Hello World!
&lt;/body&gt;<br><br>
&lt;/html&gt;<br><br>

Now that we’ve learned to add text to a web page, lets learn how to use HTML to add line
breaks and center text.
</p>
   
   </div> 
        
        
        <a href="/users" style="font-size: 24px; margin-right: 800px;">Previous Page</a>   <a href="/learn/htmlPage1.2" style="font-size: 24px; margin-left: 800px;">Start Next Tutorial</a>
</body>
</html>