<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn HTML and CSS</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body style="text-align: justify;">
    <nav id="navi">
        <a href="/">Home</a> &nbsp; &nbsp;
        <a href="/users">Users</a> &nbsp; &nbsp;
        <a href="/resources">Resources</a> &nbsp; &nbsp;
        <a href="">Downloads</a> &nbsp; &nbsp;
        <a href="">Buy Me Coffee</a> &nbsp; &nbsp;
        <a href="/calculate">Calculator</a> &nbsp; &nbsp;
        <a href="/about">About Us</a> &nbsp; &nbsp;
  
    </nav>
        <div style="text-align: center; margin-left: 70px; margin-right: 70px; font-family: Merriweather ">

            <h1 style="font-size: 50px; color: rgb(21, 136, 243);">Line Breaks</h1>
            <p style="font-size: 20px; text-align: center;">
                We can change the appearance of the page again and make it more readable by adding
some line breaks. This is done with the tag &lt;br&gt;.Unlike other tags, a closing tag isn’t
necessary. You just add one for each line break you want. For now lets remove the center
tag and just add line breaks. So lets add a line break after the Hello World! string:

            </p>
<pre>
    <code style="font-size: 20px; color: darkkhaki;">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;
Hello World! &lt;br&gt;
My name is Joe.
My friend is Sally.
&lt;/body&gt;
&lt;/html&gt;
</code>
</pre>

    <p>This produces:</p>
<span style="color: darkkhaki;">Hello World! <br>
    My name is Joe. My friend is Sally.
    </span> <br>
    <p>We can add more line breaks to put each sentence on its own line:
    </p>
    <pre>
        <code style="color: darkkhaki; font-size: 20px;">
            &lt;!DOCTYPE html &gt;
    &lt;html&gt;
    &lt;body&gt;
    Hello World!&lt;br&gt;
    My name is Joe. &lt;br&gt;
    My friend is Sally.&lt;br&gt;
    &lt;/body&gt;
    &lt;/html&gt;
        </code>
    </pre>
<p>And we get this:</p>    

<span style="color: darkkhaki;">Hello World! <br>
    My name is Joe. <br>
    My friend is Sally.
    </span>
<p style="font-size: 20px; text-align: center;">To make it double spaced, we can add extra <br>
    tags.</p>

    <pre>
        <code style="color: darkkhaki; font-size: 20px;">
            &lt;!DOCTYPE html &gt;
    &lt;html&gt;
    &lt;body&gt;
    Hello World!&lt;br&gt;&lt;br&gt;
    My name is Joe. &lt;br&gt;&lt;br&gt;
    My friend is Sally.&lt;br&gt;
    &lt;/body&gt;
    &lt;/html&gt;
        </code>
    </pre>
<p style="text-align: center; font-size: 20px;">And now we see:</p>
   <span style="color: darkkhaki;">
    Hello World! <br> <br>
    My name is Joe. <br> <br>
    My friend is Sally.
   </span>
<p>Remember for line breaks you don’t need a closing tag. To add more line breaks, just add
    more
    tags. 
<br><br>
In the next lesson, we’ll learn how to add a headline to our webpage.
</p>
 </div>
 <a href="/learn/htmlPage1.2" style="font-size: 24px; margin-right: 800px;">Previous Page</a>   <a href="/learn/htmlPage1.4" style="font-size: 24px; margin-left: 800px;">Start Next Tutorial</a>

</body>
</html>