<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the users platform</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body style="text-align: center;  font-family: cursive;">
    <nav id="navi">
        <a href="/">Home</a> &nbsp; &nbsp;
        <a href="/users">Users</a> &nbsp; &nbsp;
        <a href="/resources">Resources</a> &nbsp; &nbsp;
        <a href="">Downloads</a> &nbsp; &nbsp;
        <a href="">Buy Me Coffee</a> &nbsp; &nbsp;
        <a href="/calculate">Calculator</a> &nbsp; &nbsp;
        <a href="/about">About Us</a> &nbsp; &nbsp;
  
      </nav>
      <br> <br> <br>
      <div style="text-align: center; margin-left: 70px; margin-right: 70px; font-family: Merriweather " >
    <h1 style="font-family: sans-serif; font-size: 32px; color: crimson;">Learn the basics of HTML and CSS</h1>
    <p style="text-align: justify; font-size:20px">
        HTML means Hypertext Markup Language. Its basically just a text file with codes that tell
the browser how to display the information. For example, you can let the browser know
that a certain string of text should be displayed as a header with bold font, or that the text
should be centered on the page. To let the browser know the text file contains HTML, we
use the file extension .html rather than .doc or .txt or .rtf.
 </p>
<p style="text-align: justify; font-size: 20px;">
    A website is made up of multiple HTML pages. So each HTML file is a single web page.
When you type in a websites home address, such as http://cnn.com or http://nytimes.com,
what happens is the browser opens a special file named index.html. In a nutshell this is an
html file no different than any other, but it has the name index that tells the broswer to
load this file when someone visits the website. On your server you will place the
index.html file in the home directory. There are some exceptions to this but for now that is
how you can view the home page of a website.

</p>

<h1 style="font-family: sans-serif; font-size: 32px; color: crimson;">Your first website</h1>
<p style="font-size: 20px; text-align: justify;">
    Now that we have an idea of what a web page and HTML file is and how to create one,
let’s get our feet wet and start creating simple web pages. The first thing you need to know
is how to give instructions to the browser. This is done by using tags. The format used to
enter a tag is to enclose it in <>. You will need an opening tag and a closing tag. Inside the
<> characters, you give the browser and instruction. So for illustration, to tell the browser
that a block of text is tag_one, the opening tag would be:
</p>

<p style="font-size: 20px; text-align: justify;">
    &lt;tag_one&gt; <br> <br>
        A closing tag is indicated with a forward slash /. So to tell the browser that we are finished
        with tag_one, we would write: <br> <br>
        &lt;/tag_one&gt;
        
</p>

</div>
<a href="/learn/htmlPage1.1" style="font-size: 24px; margin-left: 800px;">Next Page</a>
</body>
</html>